In [1]:
## Objectives


- Gain familiarity with Jupyter notebooks
- Use and manipulate various data types
- Create, assign, and update variables
- Represent information with data types
- Use Boolean operators 
- Create and modify strings with string methods
- Create tuples
- Create dictionaries

[Reference](https://ds.codeup.com/python/data-types-and-variables/)

SyntaxError: invalid syntax (3204894128.py, line 4)

---

## Data Types


| Data type | Description |
|:-: |----------|
| `bool`|   Boolean values (True or False) |
| `str`  |  whole, or counting numbers |
| `float`|  decimal numbers |
| `list`| an ordered sequence of objects |
| `dict`| a collection of named values
| `NoneType` |  indicates absence of a value


###  `type` function


Returns the data type of an object. 

```python
type(object)
```

### Examples

In [ ]:
type(123)

In [ ]:
type(123.0)

In [ ]:
type("hello")

In [ ]:
type(True)

In [ ]:
type("True")

---

## Variables

### Assigning a variable

In [ ]:
favorite_number = 8
n = favorite_number + 3

In [ ]:
type(favorite_number)

In [ ]:
print(favorite_number)

In [ ]:
print(n)

In [2]:
numbers = [1, 2, 5, 7, 9, 13, 18, 22]
print (numbers[1])
print (numbers[0])
print(numbers[1] + 1)

2
1
3

#### Troubleshooting

What is the result of the following code?

```python
a = 6
print(a + b)
b = 4
```

### Updating a variable

In [4]:
x = 1
print(x)
# add 1 to the value of x

x = x + 1
print (x)

x = x * 3 + x
print (x)

1
2
8

#### Example: Running a cell multiple times

In [11]:
number = 6

In [13]:
number = number + 1
print(number)

8

In [15]:
print(number)

8

## Boolean values


There are two Boolean values: `True` and `False`

**Note:** A Boolean value is not a string

```python
type(True)
```
```
bool
```

```python
type('True')
```
```
str
```

## Comparison operators 



#### Checks for equality
```python
==
```



#### Checks for inequality
```python
!=
```

### Examples

In [16]:
True == True

True

In [17]:
True == False

False

In [18]:
True != True

False

In [19]:
True != False

True

In [20]:
5 == 4 + 1

True

In [21]:
5.01 == 5

False

In [22]:
'Hello' == 'hello'

False

In [23]:
'Hello' == ' Hello'

False

## Boolean Operators


Boolean operators evaluate statements and return a Boolean value.


#### `not` statements - also known as a negation


Returns the opposite Boolean value

| A | not A 
|:-: | :-:| 
| T | F |
| F | T |



For two statements **A** and **B**

#### `and` statement - also known as a *conjunction*


    
    

| A | B | A and B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | F | 
| F | T | F | 
| F | F | F | 



#### `or` statement - also known as a *disjunction*

    

| A | B | A or B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | T | 
| F | T | T | 
| F | F | F |

In [25]:
today = "tuesday"
weather = "sunny"

In [26]:
today == "friday"

False

In [29]:
today == "tuesday" and weather == "rainy"

False

In [30]:
today == "tuesday" or weather == "rainy"

True

In [95]:
weekday = ["monday" or "tuesday" or "wednesday" or "thursday" or "friday"]
weekend = ["saturday" or "sunday"]
today = "tuesday"

In [96]:
today == weekend

False

In [97]:
today == weekday

False

In [46]:
is_first_of_the_month = True
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

True

In [54]:
#use different boolean values

is_first_of_the_month = True
report_has_been_sent = True

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

False




## Numbers

Two commonly used number types:


`int` - Whole numbers (both positive and negative) and 0

`float` - Numbers with decimals

####  Arithmetic Operations

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |



####  Comparison Operations

| Operator | Description              | Example  |
| -------- | -----------              | -------  |
| `==`     | Equal to                 | `1 == 1` |
| `!=`     | Not equal to             | `1 != 0` |
| `>`      | Greater than             | `1 > 0`  |
| `<`      | Less than                | `0 < 1`  |
| `>=`     | Greater than or equal to | `1 >= 1` |
| `<=`     | Less than or equal to    | `1 <= 1` |

### Examples

In [31]:
5 > 6

False

In [32]:
5 > 5

False

In [33]:
5 >= 5

True

In [34]:
1 + 2 < 2.5

False

In [35]:
1.25  + 1.25 <= 2.5

True

In [38]:
1.25 * 3 < 5

True

---
## Strings

Strings represent text and are enclosed by quotes.



```python
'A string in single quotes'
```



```python
"A string in double quotes"
```



```python
'''A multi-line
string in
triple quotes'''
```

### Examples

greeting = 'hello, there!'

empty_string = ''

In [57]:
print(empty_string)

NameError: name 'empty_string' is not defined

In [58]:
number = '123'

In [59]:
type(number)

str

In [60]:
print('Here is a single quote --> \' <-- ')
print("Here is a single quote --> ' <-- ")
print()
print("Here is a double quote --> \" <--")
print('Here is a double quote --> " <--')
print()
print('Newlines are indicated by the character "n" preceded by a backslash, like so')
print()
print('This string\ncontains a newline')

Here is a single quote --> ' <--
Here is a single quote --> ' <--

Here is a double quote --> " <--
Here is a double quote --> " <--

Newlines are indicated by the character "n" preceded by a backslash, like so

This string
contains a newline

### Operations with strings

In [61]:
'hello' == 'hello'

True

In [62]:
'hello' == 'Hello'

False

In [63]:
'abc' != 'def'

True

In [64]:
### concatenation

'abc' + 'def' + 'ghi'

'abcdefghi'

In [65]:
'abc' * 3

'abcabcabc'

In [67]:
first_name = 'skyler'
last_name = 'schnee'
birth_year = '1992'

In [77]:
email = first_name[0] + last_name + birth_year[2] + birth_year[3] + '@gmail.com'

In [75]:
print(email)

sschnee92@gmail.com

### Examples

### Formatting strings

In [71]:
my_name = 'Skyler'

In [72]:
'Hello, %s!' % my_name

'Hello, Skyler!'

In [79]:
'Hello, {}!'.format(my_name)

'Hello, Skyler!'

In [80]:
f'Hello, {my_name}'

'Hello, Skyler'

### Examples

In [81]:
s = '   Hello, world!     '

In [83]:
s = s.lower()

In [84]:
print(s)

   hello, world!

In [85]:
s = s.upper()

In [86]:
print(s)

   HELLO, WORLD!

In [87]:
s.strip()

'HELLO, WORLD!'

In [88]:
a = '123'

In [89]:
a.isdigit()

True

In [90]:
b = '123, Main, Street'

b.split(', ')

['123', 'Main', 'Street']

In [92]:
b = '123 Main Street'

b.split(' ')

['123', 'Main', 'Street']

In [93]:
b = '123, Main, Street'

b.lower().split(', ')

['123', 'main', 'street']

In [94]:
', '.join(['one', 'two', 'three'])

'one, two, three'

### String methods

A string method does not modify the original string. 

Assign the result to a new variable or update the string to use the modified string. 



| Data type | Description |
|:-: |----------|
| `.lower`|  convert to lower case
| `.upper`|  convert to upper case
| `.strip`  |  remove leading or trailing whitespace
| `.isdigit`|  tests whether a string is a number |
| `.split`| converts a string to a list |
| `.join`| converts a list to a string

### Examples

---

## Lists

### Creating a list

In [98]:
number_list = [1, 2, 3] #A list with 3 integers
print(number_list)

[1, 2, 3]

In [99]:
string_list = ['one', 'two', 'three']
print(string_list)

['one', 'two', 'three']

In [101]:
list_of_lists = [ [1, 2, 3], [4, 5, 6], [7, 8, 9] ]
print(list_of_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### List comprehensions

In [102]:
[n for n in range(10)]

# does not include the number 10, in python we start at 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [106]:
[n * 2 for n in range (10) if n % 2 == 0]

[0, 4, 8, 12, 16]

In [107]:
[n for n in range (30) if n % 2 - 1 == 0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

### List Operations

In [125]:
numbers = [1, 2, 3]

In [117]:
## Add 4 to the list

numbers.append(4)
numbers

[1, 2, 3, 4]

In [118]:
numbers.pop()
numbers

[1, 2, 3]

In [119]:
len(numbers)

3

In [122]:
# Index

numbers[0]
numbers[1]
numbers[-1]

3

In [123]:
numbers[:2]

[1, 2]

In [126]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

numbers [5:10]

[6, 7, 8, 9, 10]

In [128]:
numbers [1:2]

[2]

In [131]:
letters = ['a', 'b', 'c', 'd', 'e']

In [133]:
letters[3:5]

['d', 'e']

In [134]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [140]:
my_numbers = [1, 2, 3]

list(map(str, my_numbers))

['1', '2', '3']

In [141]:
my_numbers

[1, 2, 3]

In [142]:
str(my_numbers)

'[1, 2, 3]'

---

## Tuples

In [143]:
my_tuple = (1, 2, 3)

In [144]:
type(my_tuple)

tuple

In [145]:
my_tuple[1]

2


---

## Dictionaries

In [147]:
my_dictionary = {

    'name' : 'Codeup',
    
        'age' : 9
    
    
}

In [148]:
my_dictionary

{'name': 'Codeup', 'age': 9}

### Creating a dictionary

In [150]:
dict(name = 'Codeup', age = 9)

{'name': 'Codeup', 'age': 9}

### Accessing dictionary values

In [167]:
school = dict(name = 'Codeup', age = 9)
school['name']

'Codeup'

In [153]:
school['age']

9

In [159]:
test_dictionary = dict(age = 9, location = 'San Antonio')

In [164]:
test_dictionary['location']

'San Antonio'

In [168]:
school['age'] += 1

#take the value of 'age'
#Add 1
# update the dictionary

school

{'name': 'Codeup', 'age': 10}

## Changing data types

```python
int()
```

```python
str()
```

### Examples

In [169]:
a = 3
type(a)

int

In [170]:
str(a)

'3'

In [175]:
b = '6'
type(int(b))

int

In [176]:
int(True)

1

In [177]:
int(False)

0


### Getting user input with `input`

```python
name = input('What is your name?')
print(name)
```

In [178]:
name = input('What is your name ')

What is your name Skyler

In [179]:
f'Hello, {name}!'

'Hello, Skyler!'

In [183]:
first_number = int(input ('What is the first number? '))
second_number = int(input ('What is the first number? '))

What is the first number? 4
What is the first number? 5

In [184]:
sum_numbers = first_number + second_number
print(sum_numbers)

9